@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
    @apply bg-b-mail text-white;
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    }
}

@layer components {
    .btn-blue {
      @apply rounded-full bg-gradient-to-r from-g-call-cyan to-g-call-blue font-bold ;
    }
    .btn-blue:hover{
      @apply bg-gradient-to-r from-blue-200 to-g-call-cyan ;
    }
    .header-link,.link-blue {
      @apply opacity-75 cursor-pointer hover:opacity-100 hover:underline text-[0.75rem]  ;
    }
    .link-blue {
      @apply hover:no-underline;
    }
    .link-blue div{
      @apply  h-6 hover:border-b hover:border-white w-auto inline-block leading-6;
    }
    .link-blue span{
      @apply text-[8px] rounded-full border px-[2px] leading-3  ml-1;
    }
    .title{
      @apply font-bold text-3xl;
      font-family: 'Raleway', sans-serif;
    }
    .h-container{
      @apply fixed w-full;
    }
    .header{
      @apply  bg-b-email flex items-center justify-between lg:py-12 lg:px-10 md:py-12 md:px-10 py-6 px-4 relative;
    }
    .header .link{
      @apply hidden md:flex justify-between  items-center  w-full;
    }
    .menu{
      @apply relative md:w-1/4 lg:w-1/6 ;
    }
    .hamburger{
      @apply block md:hidden
    }
    .hamburger span{
      @apply block w-[26px] h-[2px] bg-white transition-all;
      transform-origin: 3px 1px;
    }
    .h-open>span:first-child{
      transform: rotate(45deg);
    }
    .h-open>span:nth-child(2) {
      opacity: 0;
    }

    .h-open>span:last-child {
      transform: rotate(-45deg);
    }
    .hero{
      @apply bg-b-email h-[850px] md:h-[1050px]  bg-hero-mobile md:bg-hero-desktop bg-no-repeat bg-bottom bg-contain flex justify-center items-center;
    }
    .hero .container{
      @apply flex-col max-w-[745px] p-10;
    }
    .features{
      @apply px-10 text-center max-w-[750px] mx-auto;
    }
    .features .container{
      @apply  flex flex-wrap  justify-between;
    }
    .features-card{
      @apply w-full md:w-[44%] mb-24;
    }
    .features-card .container{
      @apply flex items-center justify-center;
    }
  }